.modal {
  position: fixed;
  z-index: 3;
  padding: 30px 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box
}
.modal-container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 440px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 40px;
  position: relative;
  top: 25%;
}
.modal .close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 1.75rem;
}