body {
  background-color: var(--color-black);
  overflow-y: hidden;
}
.challenges {
  width: 33vw;
  height: 70vh;
  max-width: 800px;
  margin: 50px auto;
  background-color: var(--color-dark-gray);
  overflow-x: hidden;
  overflow-y:scroll;
  padding: 0;
}
.challenges::-webkit-scrollbar {
  width: 2px;
}
.challenges::-webkit-scrollbar-thumb {
  background-color: var(--color-light-blue);
  border-radius: 10px;
  background-clip: padding-box;
}
.challenges::-webkit-scrollbar-track {
  background-color: transparent;
}
.challenges li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  background-color: var(--color-black);
  width: 360px;
  height: 360px;
  color: var(--color-white);
  padding: 30px;
  margin: 40px auto;
  border-radius: var(--box-radius);
}
.top-box {
  display: flex;
  justify-content: space-between;
}
.challenge-title {
  font-size: 1rem;
  width: 75%;
  background-color: transparent;
  color: var(--color-white);
  border: none;
}
.challenge-button {
  background-color: transparent;
  border: none;
  margin-left: 1em;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-white);
}
.challenge-button:hover {
  cursor: pointer;
}
.edit-btn:hover {
  color: var(--color-light-blue);
}
.delete-btn:hover {
  color: var(--color-red);
}
.mid-box {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.mid-box p {
  text-align: center;
}
.bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.day-info p {
  margin: 0;
  font-size: 0.75rem;
}
.progress-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-dark-gray);
}
