body {
  background-color: var(--color-black);
  overflow-y: hidden;
}
.challenges {
  width: 33vw;
  height: 70vh;
  max-width: 800px;
  margin: 50px auto;
  background-color: var(--color-dark-gray);
  overflow-x: hidden;
  overflow-y:scroll;
  padding: 0;

}

.challenges li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  background-color: var(--color-black);
  width: 360px;
  height: 360px;
  color: var(--color-white);
  padding: 30px;
  margin: 40px auto;
  border-radius: var(--box-radius);
}
.top-box {
  display: flex;
  justify-content: space-between;
}
.mid-box {
  width: 200px;
  height: 200px;
}
.bottom-box {
  display: flex;
  justify-content: space-between;
}
.day-info p {
  margin: 0;
}
.progress-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-dark-gray);
}
