:root {
    --color-dark-gray:#2B2B2B;
    --color-light-gray:#8D8D8D;
    --color-black:#000000;
    --color-white:#FFFFFF;
    --color-light-blue: #08fdd8;
    --color-dark-pink:#FD1056;
    --color-red:#fc3636;
}